<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed"><!--  [class.fixed]="fixed"  -->
  <a class="navbar-brand" routerLink="list">Foodie</a>
  <div >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div  class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" ui-sref="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li>
      	<form class="form-horizontal my-2 my-lg-0" (ngSubmit)="Search(srch)">
          <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="srch" name="search" (ngModelChange)="srchChange(srch)">
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
      </li>  

    </ul>	
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/images/profile.jpg" class="rounded-circle" width="40">
        </a>
        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    
    </ul>
    
  </div>
</nav>